/*Style for h2 elements */
h2 {
	color: yellow;
	text-align: center;
}
/*Style for link elements at specific state*/
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: black;
}
/*Style for id p1 elements */
#p1 {
	color: green;
	text-align: center;
}
/*Style for id p2 elements */
#p2 {
	text-align: center;
	font-family: verdana;
	font-size: 20px;
	border: 1px dotted blue;
	padding: 50px;
}
/*Class to insert a covering background-image */
.bg_image{
	background: red url(../bjorn_tests/bg_image.jpg);
	background-size: cover;
}
/*Style for p elements of class my_class */
p.my_class {
	color: red;
	font-size: 15px;
	font-style: bold;
	text-align: right;
	border: 2px solid rgba(255,0,0,1);
}
/*Style for elements of class button1 */
.button1{
	border: none;
	background-color: green;
	padding: 10px 10px;
	font-size: 15px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.2);
}
/*Style for elements of class button1 when hovered */
.button1:hover{
	background-color: red;
	color: white;
	font-size: 20px;
	box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.5);
}
/*Style for elements of class button2*/
.button2{
	border: 2px dotted black;
	color: white;
	background-color: blue;
	padding: 10px 10px;
	font-size: 15px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.2);
}
/*Style for elements of class button2 when hovered */
.button2:hover{
	background-color: red;
	color: white;
	font-size: 20px;
	box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.5);
}
/*animated background */
@keyframes animated_bg{
	0%	{background-color: red; text-align: left;}
	33%	{background-color: yellow; text-align: center;}
	66% {background-color: lightblue;}
	100% {background-color: white; text-align: right;}
	
}
.animated_bg{
	animation-name: animated_bg;
	animation-duration: 10s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}
ul.main_menu{
	list-style-type: none;
	background-color: lightblue;
}
li.main_menu{
	display: inline;
	text-align:center;
}
a.main_menu{
	width: 90px;
	text-align: center;
	text-decoration: none;
	color: black;
}
a.main_menu:hover{
	background-color: lightgreen;
	text-align: right;
	color: white;
}
a.main_menu.active{
	background-color: blue;
	color: white;
}
